body {
  font: 300 16px/1.6 sans-serif;
  margin: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

nav {
  display: block;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3em;
  padding-bottom: 0.5em;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

pre {
  display: block;
  margin: 0;
}